.admin-layout {
  display: flex;
  min-height: 100vh;
  background: #f3f4f6;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 260px;
  }

  &__content {
    flex: 1;
    padding: 1.5rem;
    overflow-y: auto;
  }
}
